<div id="carouselExampleCaptions" class="carousel slide">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/music3.jpg" class="d-block w-100 slider-image" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h2>Welcome to</h2>
        <h1>Breathe_in.Beats_out</h1>
      </div>
    </div>
    
  </div>
  
</div>
